/* ===== RESET & BACKGROUND ===== */
body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0a1a3c, #1c3b7a);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== MAIN WRAPPER ===== */
.login-wrapper {
  width: 90%;
  max-width: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

/* ===== LOGO ===== */
.login-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.login-logo img {
  width: 200px;
  height: 180px;
  border-radius: 70%;
  object-fit: cover;
  

  /* CLEAN SOFT GLOW */
  
}


/* ===== LOGIN BOX ===== */
.auth-box {
  width: 420px;
  padding: 45px 40px;
  border-radius: 26px;

  background: rgba(60, 80, 120, 0.95);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 30px 70px rgba(0,0,0,0.45);
}

/* TITLE */
.auth-box h2 {
  color: #ffd700;
  margin-bottom: 30px;
  text-align: center;
}

/* INPUTS */
.auth-box input {
  width: 95%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 15px;
}

/* BUTTON */
.auth-box button {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;

  background: linear-gradient(135deg, #ffd700, #ffb300);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;

  transition: 0.25s;
}

.auth-box button:hover {
  transform: scale(1.03);
}

/* REGISTER TEXT */
.auth-box p {
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.auth-box a {
  color: #ffd700;
  text-decoration: none;
  font-weight: bold;
}
